<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PracticalTest">


        <activity android:name=".ServiceActivity" />

        <!-- No tocar esta parte -->
        <activity
            android:name=".Item_EventActivity"
            android:exported="false" />
        <activity
            android:name=".EventActivity"
            android:exported="false"
            android:label="Gestión de Eventos" />
        <activity
            android:name=".InventoryActivity"
            android:exported="false" />
        <activity
            android:name=".VolunteerActivity"
            android:exported="false" />
            android:name=".SupplierActivity"
            android:exported="false">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".VolunteerActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Booking screen -->
        <activity android:name=".BookingActivity" android:exported="false" />

        <activity
            android:name=".FilmActivity"
            android:exported="false" />

        <!-- Incidents screens -->
        <activity android:name="Controller.Incident.IncidentActivity" android:exported="false" />
        <activity android:name="Controller.Incident.ElecServActivity" android:exported="false" />
        <activity android:name="Controller.Incident.WaterServActivity" android:exported="false" />
        <activity android:name="Controller.Incident.SecurityServActivity" android:exported="false" />

        <!--Meeting CRUD screen -->
        <activity android:name=".MeetingActivity" />
    </application>

</manifest>